.contProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardProducto{
    width: 18rem;
    padding: 0.5rem;
    margin: 1.5rem;
}

.cardProducto img{
    width: 100%;
}

.modal-content {
    background-color: #FF715B !important; 
    color: white;
  }